@media screen and (max-width: 1500px){
    /* glob */
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    /* header */
    .top-bar__contacts {
        -webkit-box-pack: start;
           -ms-flex-pack: start;
         justify-content: flex-start;
    }

    .top-list__item {
        line-height: 2;
    }

    .top-link {
        padding-left: 25px;
    }

    /* hero */
    .hero__container {
        padding-left: 0;
        padding-right: 0;
    }

    .hero__title {
        max-width: 44%;
        padding-left: 14%;
    }

    .hero__description {
        padding-left: 14%;
    }

    .hero-button-prev,
    .hero-button-next {
        width: 90px;
        height: 90px;
    }

    .hero-button-prev {
        left: 50px;
    }
    
    .hero-button-next {
        right: 50px;
    }

    /* dengerous */
    .dengerous-list::before {
        left: 50px;
        width: 49%;
    }

    /* services */
    .tab-icon {
        height: 70px;
        margin-bottom: 20px;
    }

    .tab-title {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px) {
    .services__container {
        background-image: none;
    }

    .top-link.top-mail,
    .top-link.top-map {
        display: none;
    }

    .top-bar__flags {
        min-width: 104px;
    }

    .logo {
        width: 150px;
    }

    .nav{
        position: fixed;
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        top: 52px;
        right: 0;
        z-index: 2;
        width: max-content;
        max-width: 100%;
        padding: 20px;
        box-shadow: -3px 5px 8px #000;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
             -o-transition: all .3s linear;
                transition: all .3s linear;
                transition: all .3s linear, -webkit-transform .3s linear;
    }

    .nav__list-links {
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .main-link__item:not(:last-child) {
        margin-right: 0;
    }

    .nav__btn {
        margin-bottom: 30px;
    }

    .nav__mob-link:not(:last-child) {
        margin-bottom: 20px;
    }

    .nav__mob-link.top-mail,
    .nav__mob-link.top-map {
        display: block;
    }

    .nav__mob-link.top-mail::before,
    .nav__mob-link.top-map::before {
        filter: invert(1);
    }

    .btn-burger {
        display: block;
    }

    /* hero */
    .hero__title {
        max-width: 85%;
    }

    .hero__description {
        max-width: 80%;
    }

    .hero-button-prev,
    .hero-button-next {
        display: none;
    }

    /* dengerous */
    .dengerous {
        top: 0;
    }

    .dengerous-list {
        max-width: 100%;
    }

    .dengerous-list::before {
        width: 0;
    }

    /* services */
    .tabs-nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .tabs-nav__btn:first-child,
    .tabs-nav__btn:nth-child(2) {
        flex-basis: calc(100% / 2);
    }

    .tabs-nav__btn:nth-child(2) {
        margin-right: 0;
    }

    .tabs-nav__btn:nth-child(n + 3) {
        flex-basis: calc(100% / 3);
    }

    .tab-content {
        background-image: none;
    }

    .tab-description {
        width: 100%;
        padding-right: 0;
    }

    .tab-content__arrows {
        display: none;
    }

    /* footer */
    .footer-navigation {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 20px;
    }

    .footer-navigation__col {
        -ms-flex-preferred-size: calc(50% - 10px);
                     flex-basis: calc(50% - 10px);
        max-width: none;
    }

    .footer-navigation__col_map,
    .footer-navigation__col_info {
        max-width: none;
    }
}

@media screen  and (max-width: 992px) {
    /* dengerous */
    .dengerous-list {
        padding-left: 120px;
    }
    /* partners */
    .partners__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .partners__left {
        width: auto;
        margin-right: 0;
    }

    .partners__right {
        width: 100%;
    }

    .partners-button-prev::after, .partners-button-next::after {
        font-size: 40px;
    }

    .partners__left {
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 768px) {
    /* glob */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        margin-bottom: 30px;
    }

    .title-tab-red {
        font-size: 14px;
    }

    /* header */
    .top-bar__contacts {
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
    }

    .nav {
        top: 80px;
    }

    /* hero */
    .hero {
        height: calc(100vh - 185px);
        text-align: center;
    }

    .hero__container {
        padding-left: 0;
        padding-right: 0;
    }

    .hero__title {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 25px;
        line-height: 1.5;
    }

    .hero__description {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 19px;
        line-height: 1.5;
    }

    /* dengerous */
    .dengerous-list {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* services */
    .tabs-nav__btn {
        padding: 20px 15px;
    }

    .tabs-nav__btn:not(:last-child) {
        flex-basis: 50%;
    }

    .tabs-nav__btn:last-child {
        flex-basis: 100%;
    }

    .partners__right {
        padding: 0 55px;
    }

    /* footer */
    .footer-navigation {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 25px;
    }

    .footer-navigation__col {
        -ms-flex-preferred-size: 100%;
                     flex-basis: 100%;
    }

    .footer-title {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 35px;
    }

    .footer-copyright {
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-copyright__text {
        margin-bottom: 0;
        margin-right: 0;
        font-size: 10px;
        line-height: 30px;
    }

    .footer-copyright__logo {
        width: 150px;
    }
}

@media screen and (max-width: 460px) {
    .tabs-nav__btn:nth-child(n) {
        flex-basis: 100%;
    }

    .tabs-nav__btn:nth-child(2n + 1):not(:last-child) {
        margin-right: 0;
    }
}