@media screen and (max-width: 1500px){
    /* glob */
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    /* header */
    .top-bar__contacts {
        -webkit-box-pack: start;
           -ms-flex-pack: start;
         justify-content: flex-start;
    }

    .top-list__item {
        line-height: 2;
    }

    .top-link {
        padding-left: 25px;
    }

    /* services */
    .tab-icon {
        height: 70px;
        margin-bottom: 20px;
    }

    .tab-title {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px) {
    .top-link.top-mail,
    .top-link.top-map {
        display: none;
    }

    .top-bar__flags {
        min-width: 104px;
    }

    .logo {
        width: 150px;
    }

    .nav{
        position: fixed;
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        top: 52px;
        right: 0;
        width: max-content;
        max-width: 100%;
        padding: 20px;
        box-shadow: -3px 5px 8px #000;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
             -o-transition: all .3s linear;
                transition: all .3s linear;
                transition: all .3s linear, -webkit-transform .3s linear;
    }

    .nav__list-links {
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .main-link__item:not(:last-child) {
        margin-right: 0;
    }

    .nav__btn {
        margin-bottom: 30px;
    }

    .nav__mob-link:not(:last-child) {
        margin-bottom: 20px;
    }

    .nav__mob-link.top-mail,
    .nav__mob-link.top-map {
        display: block;
    }

    .nav__mob-link.top-mail::before,
    .nav__mob-link.top-map::before {
        filter: invert(1);
    }

    .btn-burger {
        display: block;
    }

    /* hero */
    .hero__title {
        max-width: 85%;
    }

    .hero__description {
        max-width: 80%;
    }

    /* services */
    .tabs-nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .tabs-nav__btn:first-child,
    .tabs-nav__btn:nth-child(2) {
        flex-basis: calc((100% - 15px)/2);
        margin-bottom: 15px;
    }

    .tabs-nav__btn:nth-child(2) {
        margin-right: 0;
    }

    .tabs-nav__btn:nth-child(n + 3) {
        flex-basis: calc((100% - 30px)/3);
    }

    .tab-content {
        background-image: none;
    }

    .tab-description {
        width: 100%;
        padding-right: 0;
    }

    .tab-content__arrows {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* glob */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* header */
    .top-bar__contacts {
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
    }

    .nav {
        top: 80px;
    }

    /* hero */
    .hero {
        height: calc(100vh - 185px);
        text-align: center;
    }

    .hero__title {
        max-width: 100%;
        font-size: 25px;
        line-height: 1.5;
    }

    .hero__description {
        max-width: 100%;
        font-size: 19px;
        line-height: 1.5;
    }

    /* services */
    .tabs-nav__btn {
        padding: 20px 15px;
    }

    .tabs-nav__btn:not(:last-child) {
        flex-basis: calc((100% - 15px)/2);
        margin-bottom: 15px;
    }

    .tabs-nav__btn:nth-child(2n) {
        margin-right: 0;
    }

    .tabs-nav__btn:nth-child(2n + 1):not(:last-child) {
        margin-right: 15px;
    }

    .tabs-nav__btn:last-child {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 460px) {
    .tabs-nav__btn:nth-child(n) {
        flex-basis: 100%;
    }
    .tabs-nav__btn:nth-child(2n + 1):not(:last-child) {
        margin-right: 0;
    }
}