:root {
    --dark-blue: #0a0f2b;
    --red: #f1474e;
    --light-pink: #f8a3a6;
    --hero-black: #0a0f2b;
    --tab-btn-pink: #f57e83;
    --black-title: #464646;
}

html {
    box-sizing: border-box;
    word-wrap: break-word;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    word-wrap: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
      url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
      url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }



  body {
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 16px;
  }

  .body-hidden {
    overflow: hidden;
  }

  /* glob */
  .container {
      max-width: 1920px;
      margin: auto;
      padding: 0 100px;
  }

  .list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section {
    
  }

  .btn-red {
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: var(--red);
  }

  .btn-burger {
      display: none;
      height: 23px;
      z-index: 1;
  }

  .span-burger {
      position: relative;
      display: block;
      width: 25px;
      height: 1px;
      background-color: #000;
      -o-transition: background-color .3s linear;
              transition: background-color .3s linear;
              transition: background-color .3s linear;
  }

  .span-burger::before,
  .span-burger::after {
      content: '';
      position: absolute;
      right: 0;
      width: inherit;
      height: inherit;
      background-color: #000;
      transform: rotate(0);
      -o-transition: all .3s linear;
         transition: all .3s linear;
         transition: all .3s linear, -webkit-transform .3s linear;
  }

  .span-burger::before {
      top: -10px;
  }

  .span-burger::after {
      bottom: -10px;
  }

  .btn-burger-close {
      background-color: transparent;
  }

  .btn-burger-close::before {
      transform: rotate(45deg);
      top: 0;
  }

  .btn-burger-close::after {
      transform: rotate(-45deg);
      bottom: 0;
  }

  .first-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
  }

  /* header */
  .top-bar {
    font-size: 14px;
    line-height: 16px;
  }

  .top-bar__container {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--dark-blue);
  }

  .top-bar__contacts,
  .top-list {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    flex-grow: 1;
  }

  .top-list:not(:last-child) {
      margin-right: 15px;
  }

  .top-bar__contacts {
      max-width: 1333px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  }

  .top-bar__flags {
      max-width: 144px;
  }

  .top-list__item:not(:last-child) {
      margin-right: 15px;
  }

  .top-list__item {
      color: white;
  }

  .top-link {
      position: relative;
      padding-left: 40px;
  }

  .top-link::before {
      position: absolute;
      top: calc(50% - 11px);
      left: 0;
  }
  
  .top-phone::before {
      content: url("../img/icon-phone.svg");
  }

  .top-mail::before {
      content: url("../img/icon_mail.svg");
  }

  .top-map::before {
      content: url("../img/icon_map.svg");
  }

  .main-nav__container {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .logo {
      width: 216px;
      margin-right: 15px;
  }

  .nav {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
      flex-grow: 1;
  }

  .nav.turn-left {
    visibility: visible;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  
  .nav__list-links {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-grow: 1;
    margin-right: calc(5% - 15px);
  }

  .main-link__item:not(:last-child) {
      margin-right: 40px;
  }

  .main-link__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
  }

  .nav__mob-link {
      display: none;
  }

  /* hero */
  .hero {
      height: calc(100vh - 172px);
      min-height: max-content;
      color: var(--hero-black);
      
  }

  .hero__container {
      -webkit-box-pack: center;
         -ms-flex-pack: center;
       justify-content: center;
         -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
      height: 100%;
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: var(--light-pink);
      background-image: url("../img/Bg_hero.jpg");
      background-repeat: no-repeat;
      background-position:  left top;
      background-size: cover;
  }

  .hero__title {
      max-width: 49%;
      margin: 0;
      margin-bottom: 10px;
  }

  .hero__description {
      max-width: 43%;
      margin: 0;
      font-weight: 400;
      font-size: 33px;
      line-height: 35px;
  }

  /* services */
  .tabs-nav {
      position: relative;
      top: -50px;
      -webkit-box-pack: justify;
         -ms-flex-pack: justify;
       justify-content: space-between;
  }

  .tabs-nav__btn:not(:last-child) {
      margin-right: 15px;
  }

  .tabs-nav__btn {
         -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
      -webkit-box-align: center;
         -ms-flex-align: center;
            align-items: center;
      width: 300px;
      padding: 30px;
      border-radius: 20px;
      background-color: var(--tab-btn-pink);
      -webkit-transition: background-color .3s linear, width .3s linear;
           -o-transition: background-color .3s linear, width .3s linear;
              transition: background-color .3s linear, width .3s linear;
  }

  .tabs-nav__btn:hover {
      background-color: var(--red);
  }

  .tabs-nav__btn_red {
      background-color: var(--red);
  }

  .tabs-nav__btn_red:hover {
      background-color: var(--tab-btn-pink);
    }

  .tab-icon {
      height: 90px;
      margin-bottom: 30px;
  }

  .tab-title {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: white;
      text-transform: uppercase;
  }

  .tab-content {
      position: relative;
      padding-top: 50px;
  }

  .tab-content__arrows {
      position: absolute;
      top: 50px;
      left: 50%;
      width: 179px;
      height: 79px;
      font-size: 0;
  }

  .tab-arrow {
      width: 50%;
      height: inherit;
      background-color: var(--tab-btn-pink);
      -webkit-transition: background-color .3s linear, width .3s linear;
           -o-transition: background-color .3s linear, width .3s linear;
              transition: background-color .3s linear, width .3s linear;
  }

  .tab-arrow:hover {
      background-color: var(--red);
  }

  .tab-content {
      color: var(--black-title);
      background: url("../img/Bg_services.jpg") no-repeat right top / 57%;
  }

  .tab-description {
      position: absolute;
      top: 0;
      width: 50%;
      padding-right: 10%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s linear, width .3s linear;
           -o-transition: all .3s linear, width .3s linear;
              transition: all .3s linear, width .3s linear;
  }

  .tab-description-active {
      position: relative;
      opacity: 1;
      visibility: visible;
  }

  .tab-text {
      margin: 0;
      margin-bottom: 16px;
      word-break: break-all;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
  }

  .tab-descr-title {
      position: relative;
      max-width: 368px;
      margin: 0;
      margin-bottom: 47px;
      padding-left: 105px;
  }

  .tab-descr-title::before {
      content: '';
      position: absolute;
      top: calc(50% - 50px);
      left: 2px;
      display: block;
      width: 75px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      -webkit-filter: invert(1);
              filter: invert(1);
   }

  .tab-descr-title_system::before {
      background-image: url("../img/icon_tab_system.svg");
  }

  .tab-descr-title_cold::before {
      background-image: url("../img/icon_tab_cold.svg");
  }

  .tab-descr-title_cold::before {
      background-image: url("../img/icon_tab_cold.svg");
  }

  .tab-descr-title_technology::before {
      background-image: url("../img/icon_tab_technology.svg");
  }

  .tab-descr-title_mounting::before {
    background-image: url("../img/icon_tab_mounting.svg");
  }

  .tab-descr-title_project::before {
    background-image: url("../img/icon_tab_project.svg");
  }

  .tab-link {
      color: var(--red);
      text-decoration: underline;
  }

  .tab-text-red {
    color: var(--red);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .tab-list {
      padding-left: 35px;
  }

  .tab-list__item {
      font-size: 14px;
  }

  .tab-list__item:not(:last-child) {
      margin-bottom: 15px;
  }

  .tab-list__item::marker {
      color: var(--red);
  }