:root {
    --dark-blue: #0a0f2b;
    --red: #f1474e;
    --light-pink: #f8a3a6;
    --hero-black: #0a0f2b;
    --tab-btn-pink: #f57e83;
    --black-title: #464646;
    --title-tab-red: #821111;
    --hover-tab-red: #f57e83bf;
}

html {
    box-sizing: border-box;
    word-wrap: break-word;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    word-wrap: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
      url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
      url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }



  body {
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 16px;
  }

  .body-hidden {
    overflow: hidden;
  }

  /* glob */
  .container {
      max-width: 1920px;
      margin: auto;
      padding: 0 100px;
  }

  .section {
    margin-bottom: 115px;
  }

  .list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .btn-red {
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: var(--red);
  }

  .btn-burger {
      display: none;
      height: 23px;
      z-index: 2;
  }

  .span-burger {
      position: relative;
      display: block;
      width: 25px;
      height: 1px;
      background-color: #000;
      -o-transition: background-color .3s linear;
              transition: background-color .3s linear;
              transition: background-color .3s linear;
  }

  .span-burger::before,
  .span-burger::after {
      content: '';
      position: absolute;
      right: 0;
      width: inherit;
      height: inherit;
      background-color: #000;
      transform: rotate(0);
      -o-transition: all .3s linear;
         transition: all .3s linear;
         transition: all .3s linear, -webkit-transform .3s linear;
  }

  .span-burger::before {
      top: -10px;
  }

  .span-burger::after {
      bottom: -10px;
  }

  .btn-burger-close {
      background-color: transparent;
  }

  .btn-burger-close::before {
      transform: rotate(45deg);
      top: 0;
  }

  .btn-burger-close::after {
      transform: rotate(-45deg);
      bottom: 0;
  }

  .first-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
  }

  .hidden {
      overflow: hidden;
  }

  .margin-bottom-70 {
    margin-bottom: 70px;
  }

  .title-tab-red {
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    color: var(--title-tab-red);
  }

  .span-red-background {
    padding: 8px 6px 7px 15px;
    background-color: var(--red);
  }

  /* header */
  .top-bar {
    font-size: 14px;
    line-height: 16px;
    background-color: var(--dark-blue);
  }

  .top-bar__container {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    
  }

  .top-bar__contacts,
  .top-list {
    flex-grow: 1;
  }

  .top-list:not(:last-child) {
      margin-right: 15px;
  }

  .top-bar__contacts {
      max-width: 1333px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  }

  .top-bar__flags {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: flex-end;
      max-width: 144px;
  }

  .top-list__item:not(:last-child) {
      margin-right: 20px;
  }

  .top-list__item {
      color: white;
  }

  .top-link {
      position: relative;
      padding-left: 40px;
  }

  .top-link::before {
      position: absolute;
      top: calc(50% - 11px);
      left: 0;
  }
  
  .top-phone::before {
      content: url("../img/icon-phone.svg");
  }

  .top-mail::before {
      content: url("../img/icon_mail.svg");
  }

  .top-map::before {
      content: url("../img/icon_map.svg");
  }

  .main-nav__container {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .logo {
      width: 216px;
      margin-right: 15px;
  }

  .nav {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
      flex-grow: 1;
  }

  .nav.turn-left {
    visibility: visible;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  
  .nav__list-links {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-grow: 1;
    margin-right: calc(5% - 15px);
  }

  .main-link__item:not(:last-child) {
      margin-right: 40px;
  }

  .main-link__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
  }

  .nav__mob-link {
      display: none;
  }

  /* hero */
  .hero {
      height: calc(100vh - 172px);
      min-height: max-content;
      margin-bottom: 0;
      color: var(--hero-black);
      
  }

  .hero__container {
      max-width: unset;
      height: 100%;
      padding: 0;
      
  }

  .hero__slide {
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-image: url("../img/Bg_hero.jpg");
  }

  /* .hero__slide_back-img-1 {
    background-image: url("../img/slide01.jpg");
  }

  .hero__slide_back-img-2 {
    background-image: url("../img/slide02.jpg");
  }

  .hero__slide_back-img-3 {
    background-image: url("../img/slide03.jpg");
  } */

  .hero__title {
      max-width: 36%;
      margin: 0;
      margin-bottom: 10px;
      padding-left: 16%;
  }

  .hero__description {
      max-width: 33%;
      margin: 0;
      padding-left: 16%;
      font-weight: 400;
      font-size: 33px;
      line-height: 35px;
  }

  .hero-button-prev,
  .hero-button-next {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    border: 1px solid var(--tab-btn-pink);
    box-shadow: 0px 0px 17px 9px rgb(0 0 0 / 10%);
    -webkit-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
  }

  .hero-button-prev {
    left: 100px
  }

  .hero-button-prev::after {
    content: "";
  }

  .hero-button-next {
    right: 100px
  }

  .hero-button-next::after {
    content: "";
  }
  
  .hero-button-prev svg path,
  .hero-button-next svg path {
    -webkit-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
  }

  .hero-button-prev:hover:not(.swiper-button-disabled) {
    background-color: var(--tab-btn-pink);
  }

  .hero-button-prev:hover:not(.swiper-button-disabled) svg path {
    fill: #fff;
  }

  .hero-button-prev:focus:not(.swiper-button-disabled) {
    background-color: var(--tab-btn-pink);
  }

  .hero-button-prev:focus:not(.swiper-button-disabled) svg path {
    fill: #fff;
  }

  .hero-button-next:hover:not(.swiper-button-disabled) {
    background-color: var(--tab-btn-pink);
  }

  .hero-button-next:hover:not(.swiper-button-disabled) svg path {
    fill: #fff;
  }

  .hero-button-next:active:not(.swiper-button-disabled) {
    background-color: var(--tab-btn-pink);
  }

  .hero-button-next:active:not(.swiper-button-disabled) svg path {
    fill: #fff;
  }

  .swiper-horizontal>.swiper-pagination-bullets.hero__pagination {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    text-align: center;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.hero-bullet {
    position: relative;
    width: 28px;
    height: 28px;
    margin-left: 0;
    vertical-align: middle;
    border: 1px solid #000;
    background: #fff;
    opacity: 1;
    -webkit-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
  }

  .hero-bullet::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.hero-bullet:not(:last-child) {
    margin-right: 12px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.hero-bullet:last-child {
    margin-right: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.hero-bullet_active {
    position: relative;
  }

  .hero-bullet_active::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
  }

  .hero-bullet:hover:not(.hero-bullet_active) {
    background: var(--black-title);
    opacity: .5;
  }

  /* services */
  .services__container {
    background: url("../img/Bg_tabs.png") no-repeat right 50px / 50%;
  }

  .tabs-nav {
      -webkit-box-pack: end;
         -ms-flex-pack: end;
       justify-content: end;
       margin-bottom: 65px;
  }

  .tabs-nav__btn {
    position: relative;
         -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
      -webkit-box-align: center;
         -ms-flex-align: center;
            align-items: center;
      width: 300px;
      padding: 30px;
      overflow: hidden;
      background-color: var(--tab-btn-pink);
      -webkit-transition: all .3s linear;
           -o-transition: all .3s linear;
              transition: all .3s linear;
  }

  .tabs-nav__btn::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      transform: translate(100%, 0);
      -webkit-transition: all .3s linear;
           -o-transition: all .3s linear;
              transition: all .3s linear;
  }

  .tabs-nav__btn:nth-child(2n + 1)::after {
    background-image: url("../img/tab-btn-background-1.jpg");
  }

  .tabs-nav__btn:nth-child(2n)::after {
    background-image: url("../img/tab-btn-background-2.jpg");
  }

  .tabs-nav__btn:nth-child(2n + 1):hover::after,
  .tabs-nav__btn_active:nth-child(2n + 1)::after {
    background-image: url("../img/tab-btn-background-1.jpg");
    transform: translate(0, 0);
  }

  .tabs-nav__btn:nth-child(2n):hover::after,
  .tabs-nav__btn_active:nth-child(2n)::after {
    background-image: url("../img/tab-btn-background-2.jpg");
    transform: translate(0, 0);
  }

  .tabs-nav__btn_red {
      background-color: var(--red);
  }

  .tabs-nav__btn:hover,
  .tabs-nav__btn_active {
      background-color: var(--hover-tab-red);
    }

  .tab-icon {
      height: 90px;
      margin-bottom: 30px;
  }

  .tab-title {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: white;
      text-transform: uppercase;
  }

  .tab-content {
      position: relative;
      overflow: hidden;
  }

  .tab-content__arrows {
      position: absolute;
      top: 50px;
      left: 50%;
      width: 179px;
      height: 79px;
      font-size: 0;
  }

  .tab-arrow {
      width: 50%;
      height: inherit;
      background-color: var(--tab-btn-pink);
      -webkit-transition: background-color .3s linear, width .3s linear;
           -o-transition: background-color .3s linear, width .3s linear;
              transition: background-color .3s linear, width .3s linear;
  }

  .tab-arrow:hover {
      background-color: var(--red);
  }

  .tab-content {
      color: var(--black-title);
      background: url("../img/tab-1.png") no-repeat right 50px / 50%;
  }

  .tab-description {
      position: absolute;
      top: 0;
      width: 50%;
      padding-right: 10%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s linear, width .3s linear;
           -o-transition: all .3s linear, width .3s linear;
              transition: all .3s linear, width .3s linear;
  }

  .tab-description-active {
      position: relative;
      opacity: 1;
      visibility: visible;
  }

  .tab-text {
      margin: 0;
      margin-bottom: 16px;
      word-break: break-all;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
  }

  .tab-descr-title {
      position: relative;
      max-width: 368px;
      margin: 0;
      margin-bottom: 47px;
      padding-left: 105px;
  }

  .tab-descr-title::before {
      content: '';
      position: absolute;
      left: 2px;
      display: block;
      width: 75px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 80%;
      -webkit-filter: invert(1);
              filter: invert(1);
   }

  .tab-descr-title_system::before {
      background-image: url("../img/icon_tab_system.svg");
  }

  .tab-descr-title_cold::before {
      background-image: url("../img/icon_tab_cold.svg");
  }

  .tab-descr-title_technology::before {
      background-image: url("../img/icon_tab_technology.svg");
  }

  .tab-descr-title_trube::before {
    background-image: url("../img/icon_tab_trube.svg");
  }

  .tab-descr-title_project::before {
    background-image: url("../img/icon_tab_project.svg");
  }

  .tab-link {
      color: var(--red);
      text-decoration: underline;
  }

  .tab-text-red {
    margin: 0;
    margin-bottom: 35px;
    color: var(--red);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .tab-list {
      padding-left: 17px;
  }

  .tab-list__item {
      font-size: 14px;
  }

  .tab-list__item:not(:last-child) {
      margin-bottom: 15px;
  }

  .tab-list__item::marker {
      color: var(--red);
  }

  .tab-decoration {
    margin-bottom: 29px;
  }

  .tab-decoration__img {
    height: 100%;
  }

  .tab-decoration__img:not(:last-child) {
    margin-right: 20px;
  }

  /* dengerous */
  .dengerous {
    position: relative;
    top: -160px;
  }

  .dengerous__container {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: end;
    position: relative;
  }

  .dengerous-list {
    max-width: 63%;
    padding: 85px 52px 85px 290px;
    color: #fff;
    background-color: var(--red);
  }

  .dengerous-list::before {
    content: "";
    position: absolute;
    left: 100px;
    top: -153px;
    width: 50%;
    height: calc(100% + 282px);
    background: url("../img/Dengerous-before.png") no-repeat left center / contain;
  }

  .dengerous-list__item {
    position: relative;
  }

  .dengerous-list__item:not(:last-child) {
    margin-bottom: 52px;
  }

  .dengerous-list__item::before {
    content: "";
    position: absolute;
    left: -38px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }

  .dengeous-title {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
  }

  .dengerous-descr {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  /* partners */
  .partners__left {
    width: 167px;
    margin: 0;
    margin-right: 71px;
    font-weight: 900;
    font-size: 34px;
    line-height: 47px;
  }

  .partners__right {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    position: relative;
    width: calc(100% - 187px);
    padding: 0 12%;
  }

  .partners__swiper .swiper-wrapper{
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  }

  .partners__slide {
    /* height: 87px; */
  }

  .partners-button-prev::after,
  .partners-button-next::after {
    font-size: 70px;
    color: var(--red)
  }

  /* footer */
  .footer-navigation {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
     gap: 10px;
     margin-bottom: 80px;
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
     letter-spacing: 3px;
     text-transform: uppercase;
  }

  .footer-navigation__col {
    max-width: fit-content;
  }

  .footer-title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 900;
    font-size: 26px;
    line-height: 47px;
  }

  .footer-link {
    display: block;
  }

  .footer-navigation__col_map {
    max-width: 20%;
  }

  .footer-navigation__col_info {
    max-width: 26%;
  }

  .footer-descr {
    margin: 0;
    margin-bottom: 28px;
  }

  .footer-copyright {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
     padding-top: 38px;
     padding-bottom: 48px;
     border-top: 1px solid #000;
  }

  .footer-copyright__text {
    margin: 0;
    margin-right: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }